@charset "UTF-8";
/* Board.css */
body.board-page {
    margin: 0 !important;
    max-width: 1400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: Arial, sans-serif !important;
    line-height: 1.6 !important;
}

/* 테이블 스타일 */
.board-table th, .board-table td {
	vertical-align: middle;
	text-align: center;
}

/* 글쓰기 버튼 */
.write-button {
	margin: 20px 0;
}